<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>咕咚手环2</key>
	<string>咕咚手环2</string>
	<key>咕咚手环S</key>
	<string>咕咚手环S</string>
	<key>咕咚糖果</key>
	<string>咕咚糖果</string>
	<key>咕咚笑</key>
	<string>咕咚笑</string>
</dict>
</plist>
