<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>咕咚手环2</key>
	<string>The Codoon  Smart Bracelet 2</string>
	<key>咕咚手环S</key>
	<string>The Codoon  Smart Bracelet s</string>
	<key>咕咚糖果</key>
	<string>The Codoon  Smart Tracker</string>
	<key>咕咚笑</key>
	<string>Codoon Smart Watch</string>
</dict>
</plist>
