<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>咕咚手环2</key>
	<string>Codoon Bracelet 2, trace your sport and sleeping, by bluetooth.</string>
	<key>咕咚手环S</key>
	<string>Codoon Bracelet S, trace your sport and sleeping, by headset.</string>
	<key>咕咚糖果</key>
	<string>Codoon Candy, trace your sport and sleeping, by bluetooth.</string>
	<key>咕咚笑</key>
	<string>Codoon Smile, trace your sport and sleeping, by bluetooth.</string>
</dict>
</plist>
